body {
  background: #233d4d;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

a,
strong {
  color: #fd8841;
  opacity: 1 !important;
}

a:hover {
  color: #fd8841;
}

p {
  opacity: 0.8;
}

blockquote {
  color: #ddd8c4;
  border-color: #4f7cac;
}
