body {
  background: #233D4D;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

a, strong {
  color: #FD8841;
  opacity: 1 !important;
}

a:hover {
  color: #FD8841;
}

p {
  opacity: 0.8;
}

blockquote {
  color: #DDD8C4;
  border-color: #4F7CAC;
}
